<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="DP_dashboard.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <DP_dashboard.Properties.Settings>
            <setting name="multiplexingComPort" serializeAs="String">
                <value>COM12</value>
            </setting>
            <setting name="plcComPort" serializeAs="String">
                <value>COM1</value>
            </setting>
            <setting name="dpComPort" serializeAs="String">
                <value>COM4</value>
            </setting>
            <setting name="StationType" serializeAs="String">
                <value>CalibrationStation</value>
            </setting>
            <setting name="PressureUnderTest1" serializeAs="String">
                <value>1.2</value>
            </setting>
            <setting name="PressureUnderTest2" serializeAs="String">
                <value>1.2</value>
            </setting>
            <setting name="PressureUnderTest3" serializeAs="String">
                <value>1.2</value>
            </setting>
            <setting name="PressureUnderTest4" serializeAs="String">
                <value>1.2</value>
            </setting>
            <setting name="PressureUnderTest5" serializeAs="String">
                <value>1.23</value>
            </setting>
            <setting name="PressureUnderTest6" serializeAs="String">
                <value>1.256</value>
            </setting>
            <setting name="PressureUnderTest7" serializeAs="String">
                <value>1.22</value>
            </setting>
            <setting name="PressureUnderTest8" serializeAs="String">
                <value>1.258</value>
            </setting>
            <setting name="PressureUnderTest9" serializeAs="String">
                <value>1.2852</value>
            </setting>
            <setting name="PressureUnderTest10" serializeAs="String">
                <value>1.256599</value>
            </setting>
            <setting name="PressureUnderTest11" serializeAs="String">
                <value>1.2741</value>
            </setting>
            <setting name="PressureUnderTest12" serializeAs="String">
                <value>1.2</value>
            </setting>
            <setting name="PressureUnderTest13" serializeAs="String">
                <value>1.2222</value>
            </setting>
            <setting name="PressureUnderTest14" serializeAs="String">
                <value>1.29999</value>
            </setting>
            <setting name="PressureUnderTest15" serializeAs="String">
                <value>1.2852</value>
            </setting>
            <setting name="TempUnderTest1" serializeAs="String">
                <value>23</value>
            </setting>
            <setting name="TempUnderTest2" serializeAs="String">
                <value>19.5</value>
            </setting>
            <setting name="TempUnderTest3" serializeAs="String">
                <value>20</value>
            </setting>
            <setting name="TempUnderTest4" serializeAs="String">
                <value>21</value>
            </setting>
            <setting name="TempUnderTest5" serializeAs="String">
                <value>22</value>
            </setting>
            <setting name="TempControllerSlaveAddress" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="TempControllerComPort" serializeAs="String">
                <value>COM6</value>
            </setting>
            <setting name="LogPath" serializeAs="String">
                <value>C:\work\Rotal\Rotal calibration\project\RotalCalib\DP_dashboard\bin\Debug\Logs</value>
            </setting>
            <setting name="HexFilePath" serializeAs="String">
                <value>C:\Users\dudi9\Desktop\DPT.hex</value>
            </setting>
            <setting name="FlashProgrammerToolPath" serializeAs="String">
                <value>C:\Program Files (x86)\Texas Instruments\SmartRF Tools\Flash Programmer\bin\SmartRFProgConsole.exe</value>
            </setting>
        </DP_dashboard.Properties.Settings>
    </userSettings>
</configuration>